<div class="container">
  <object
    type="image/svg+xml"
    data="assets/world-map.svg"
    #svgObject
    id="mapImg"
  ></object>

  <section class="dataContainer">
    <h1 id="country" class="text">Click a country</h1>
    <div class="text">
      <p>Capital:&nbsp;</p>
      <b id="capital"></b>
    </div>
    <div class="text">
      <p>Region:&nbsp;</p>
      <b id="region"></b>
    </div>
    <div class="text">
      <p>Income Level:&nbsp;</p>
      <b id="income"></b>
    </div>
    <div class="text">
      <p>Lending Type:&nbsp;</p>
      <b id="lending"></b>
    </div>
    <div class="text">
      <p>Coordinates:&nbsp;</p>
      <b id="coordinates"></b>
    </div>
  </section>
</div>
