#mapImg {
  max-width: 70%;
  height: auto;
}
.dataContainer {
  width: 15%;
  height: 100%;
  text-align: left;
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  height: auto;
}
.text {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  text-align: center;
}
